<div class="container">
    <form action="/admin/articleList" method="GET" enctype="multipart/form-data">
        <input name="search" type="text" placeholder="请输入标题关键词" class="search">
        <button type="submit" class="search-btn" value="搜索">搜索</button>
    </form>
</div>
<table class="layui-table">
    <colgroup>
        <col width="80">
        <col width="100">
        <col width="150">
        <col width="100">
        <col>
        <!--<col>-->
        <col width="80">
        <col width="200">
        <col width="200">
    </colgroup>
    <thead>
    <tr>
        <th>编号</th>
        <th>标题</th>
        <th>描述</th>
        <th>分类</th>
        <th>封面图</th>
        <!--<th>文本内容</th>-->
        <th>排序</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody class="every-tr">
    <% lists.forEach(function(val){ %>
    <tr class="<%=val.id%>">
        <td class="search-td"><%=val.id%></td>
        <td><%=val.title%></td>
        <td><%=val.description%></td>
        <td><%=val.classify%></td>
        <td><img src="<%=val.images%>" alt=""></td>
        <!--<td><%=val.content%></td>-->
        <td><%=val.showorder%></td>
        <% var create_time = new Date(val.create_time).getFullYear() + "-" + (new Date(val.create_time).getMonth()+1) + "-" + new Date(val.create_time).getDate() + " " + new Date(val.create_time).getHours() + ":" + new Date(val.create_time).getMinutes() + ":" + new Date(val.create_time).getSeconds() %>
        <td><%=create_time%></td>
        <td>
            <button class="layui-btn layui-btn-sm read-btn" data-val="<%=JSON.stringify(val)%>">
                <i class="layui-icon layui-icon-read"></i>
            </button>
            <button class="layui-btn layui-btn-sm edit-btn" data-val="<%=JSON.stringify(val)%>">
                <i class="layui-icon layui-icon-edit"></i>
            </button>
            <button class="layui-btn layui-btn-sm layui-btn-danger del-btn" data-id='<%=val.id%>'>
                <i class="layui-icon layui-icon-delete"></i>
            </button>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>
<form class="layui-form layer-form layer-add" action="" lay-filter="edit-form">
    <input type="hidden" name="id">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" name="description" required  lay-verify="required" placeholder="请输入文章描述" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择分类</label>
        <div class="layui-input-block">
            <select name="classify" lay-verify="required">
                <option value=""></option>
                <option value="学习">学习</option>
                <option value="办公">办公</option>
                <option value="生活">生活</option>
                <option value="小说">小说</option>
                <option value="生活随笔">生活随笔</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">封面图</label>
        <div class="layui-input-block upload-layui">
            <button type="button" class="layui-btn" id="img">
                <i class="layui-icon">&#xe67c;</i>
            </button>
            <div class="img upload-img">
                <input type="hidden" name="images">
                <img src="" alt="" class="img img-edit">
                <div class="img-del">
                    <i class="layui-icon layui-icon-delete"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文本域</label>
        <div class="layui-input-block layui-input-block-bg">
            <textarea name="content" placeholder="请输入内容" class="layui-textarea" style="min-height: 300px" id="con" contenteditable="true" ></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="showorder" required  lay-verify="required" placeholder="请输入文章排序，越大越靠前(必须为数字)" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn " lay-submit lay-filter="formDemo">立即提交</button>
            <!--edit-button-->
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<form class="layui-form layer-form layer-read" action="">
    <div class="layui-form-item layui-form-text">
        <div class="layui-input-block input-block span-margin">
            <span id="span"></span>
        </div>
    </div>
</form>
<script>
    layui.use(['form','jquery','upload','layedit','layer'], function(){
        var form = layui.form;
        var $ = layui.$;//拿到jquer模块
        var upload = layui.upload;
        var layer = layui.layer;
        //富文本编辑器
        var layedit = layui.layedit;
        layedit.set({
            uploadImage: {
                url: '/admin/upload' //接口url
                ,type: 'post' //默认post
            }
        });
        var editIndex = layedit.build('con'); //建立编辑器
        //执行实例
        var uploadInst = upload.render({
            elem: '#img' //绑定元素
            ,url: '/admin/upload/' //上传接口
            ,done: function(res){
                //上传完毕回调
                if (!res.code){
                    layer.msg(res.msg, {
                        time: 1000 //1秒关闭（如果不配置，默认是3秒）
                    },function () {
                        $('.upload-img input').val(res.data.src);//提交val值
                        $('.upload-img img').attr('src',res.data.src);//拿到节点设置他的属性(attr)
                        $('.upload-img').show();//让这个进行显示
                    })
                }
            }
            ,error: function(){
                //请求异常回调
            }
        });
        $('.img-del').click(function () {
            $('.upload-img input').val("");
            $('.upload-img').hide();
        });
        //监听提交
        form.on('submit(formDemo)', function(data){
            // layer.msg(JSON.stringify(data.field));

            //拿到富文本编辑器的内容
            var content = layedit.getContent(editIndex);
            data.field['content'] = content;

            $.post('/admin/articleList',data.field,function (resData) {
                if (resData.code == 200){
                    layer.msg(resData.msg, {
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        location.reload();
                    });
                }else {
                    layer.msg(resData.msg, {
                        icon: 2,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    })
                }
            });
            return false;
        });

        $('.edit-btn').click(function(){
            var list = $(this).data('val');
            $('input[name="id"]').val(list.id);
            $('input[name="title"]').val(list.title);
            $('input[name="description"]').val(list.description);
            $('select[name="classify"]').val(list.classify);
            form.render('select', 'edit-form');
            $('textarea[name="content"]').html(list.content);
            $('.img-edit').attr("src",list.images);//用这个设置img的src值
            $('input[name="images"]').val(list.images);
            if (list.images) {
                $('.upload-img').show();
            }else{
                $('.upload-img').hide();
            }
            $('input[name="showorder"]').val(list.showorder);
            layer.open({
                type:1,
                title:'编辑修改',
                area:['600px','500px'],
                content:$('.layer-add'),
                shade:0,
                success:function(){
                    editIndex = layedit.build("con");
                }
            });
        });

        $('.del-btn').click(function(){
            var id = $(this).data('id');
            layer.confirm('您确定要删除这篇文章信息吗', {icon: 3, title:'删除文章'}, function(index){
                //点击确定之后触发
                $.post('/admin/listDel',{id:id},function(res){
                    if(res.code == 200){
                        layer.msg(res.msg,{
                            icon:1,
                            timeout:2000
                        },function(){
                            layer.close(index);
                            location.reload();
                        });
                    }else{
                        layer.msg(res.msg,{
                            icon:2,
                            timeout:1000
                        },function(){
                            layer.close(index);
                        })
                    }
                })

            });
        });

        $('.read-btn').click(function () {
            var list = $(this).data('val');
            var span = document.getElementById('span');
            span.innerHTML = list.content;
            layer.open({
                type:1,
                title:'阅读',
                area:['800px','600px'],
                content:$('.layer-read'),
                shade:0
            });
        })
    });
</script>